@reference "./main.css";

th, td {
    @apply border border-gray-500 border-collapse;
}

tr>td:nth-child(4) {
    @apply bg-gray-300;
}

td {
    @apply px-0.5;
}

tr>td:first-child {
    /* w-0 to minimize the width to the smallest element (+ padding) */
    @apply w-0 text-center tracking-wider px-1 text-sm leading-4;
}